In [44]:
pip install spacy

Collecting spacy
  Downloading spacy-3.0.6-cp37-cp37m-win_amd64.whl (11.7 MB)
Collecting blis<0.8.0,>=0.4.0
  Downloading blis-0.7.4-cp37-cp37m-win_amd64.whl (6.5 MB)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.24.0)
Requirement already satisfied: typing-extensions<4.0.0.0,>=3.7.4; python_version < "3.8" in c:\users\user\anaconda3\lib\site-packages (from spacy) (3.7.4.2)
Collecting cymem<2.1.0,>=2.0.2
  Downloading cymem-2.0.5-cp37-cp37m-win_amd64.whl (35 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (20.1)
Requirement already satisfied: numpy>=1.15.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (1.18.1)
Collecting srsly<3.0.0,>=2.4.1
  Downloading srsly-2.4.1-cp37-cp37m-win_amd64.whl (450 kB)
Collecting murmurhash<1.1.0,>=0.28.0
  Downloading murmurhash-1.0.5-cp37-cp37m-win_amd64.whl (20 kB)
Collecting thinc<8.1.0,>=8.0.3
  Downloading thinc-8.0.3-cp37-cp37m-win_amd64.whl (1.0 MB)
Collecting pydantic<1.8.0,>=1.7.1
  Downloading pydantic-1.7.4-cp37-cp37m-win_amd64.whl (1.7 MB)
Collecting preshed<3.1.0,>=3.0.2
  Downloading preshed-3.0.5-cp37-cp37m-win_amd64.whl (108 kB)
Collecting typer<0.4.0,>=0.3.0
  Downloading typer-0.3.2-py3-none-any.whl (21 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\user\anaconda3\lib\site-packages (from spacy) (4.48.0)
Collecting spacy-legacy<3.1.0,>=3.0.4
  Downloading spacy_legacy-3.0.5-py2.py3-none-any.whl (12 kB)
Collecting catalogue<2.1.0,>=2.0.3
  Downloading catalogue-2.0.4-py3-none-any.whl (16 kB)
Collecting wasabi<1.1.0,>=0.8.1
  Downloading wasabi-0.8.2-py3-none-any.whl (23 kB)
Collecting pathy>=0.3.5
  Downloading pathy-0.5.2-py3-none-any.whl (42 kB)
Requirement already satisfied: jinja2 in c:\users\user\anaconda3\lib\site-packages (from spacy) (2.11.1)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from spacy) (45.2.0.post20200210)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (1.14.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\user\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (2.4.6)
Collecting click<7.2.0,>=7.1.1
  Using cached click-7.1.2-py2.py3-none-any.whl (82 kB)
Requirement already satisfied: zipp>=0.5; python_version < "3.8" in c:\users\user\anaconda3\lib\site-packages (from catalogue<2.1.0,>=2.0.3->spacy) (2.2.0)
Collecting smart-open<4.0.0,>=2.2.0
  Downloading smart_open-3.0.0.tar.gz (113 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\user\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
Building wheels for collected packages: smart-open
  Building wheel for smart-open (setup.py): started
  Building wheel for smart-open (setup.py): finished with status 'done'
  Created wheel for smart-open: filename=smart_open-3.0.0-py3-none-any.whl size=107102 sha256=26292db840dcc627ff6992ccb862531a81a493f27399e0b4842b8efb77225783
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\83\a6\12\bf3c1a667bde4251be5b7a3368b2d604c9af2105b5c1cb1870
Successfully built smart-open
Installing collected packages: blis, cymem, catalogue, srsly, murmurhash, wasabi, pydantic, preshed, thinc, click, typer, spacy-legacy, smart-open, pathy, spacy
  Attempting uninstall: click
    Found existing installation: Click 7.0
    Uninstalling Click-7.0:
      Successfully uninstalled Click-7.0
  Attempting uninstall: smart-open
    Found existing installation: smart-open 4.2.0
    Uninstalling smart-open-4.2.0:
      Successfully uninstalled smart-open-4.2.0
Successfully installed blis-0.7.4 catalogue-2.0.4 click-7.1.2 cymem-2.0.5 murmurhash-1.0.5 pathy-0.5.2 preshed-3.0.5 pydantic-1.7.4 smart-open-3.0.0 spacy-3.0.6 spacy-legacy-3.0.5 srsly-2.4.1 thinc-8.0.3 typer-0.3.2 wasabi-0.8.2
Note: you may need to restart the kernel to use updated packages.

In [146]:
import pandas as pd
import numpy as np
import spacy
import re

In [11]:
df = pd.read_csv('twitter-data/twitter4000.csv')

In [13]:
df.columns

Index(['twitts', 'sentiment'], dtype='object')

### word count

In [14]:
df['word_count'] = df['twitts'].apply(lambda x: len(str(x).split()))

In [15]:
df.head()

                                              twitts  sentiment  word_count
0  is bored and wants to watch a movie  any sugge...          0          10
1           back in miami.  waiting to unboard ship           0           7
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0          12
3                  ughhh i am so tired  blahhhhhhhhh          0           6
4  @mandagoforth me bad! It's funny though. Zacha...          0          26

### character count

In [16]:
def char_count(x):
    c = x.split()
    sp = ''.join(c)
    return sp

In [17]:
df['char_count'] = df['twitts'].apply(lambda x: len(char_count(x)))

In [18]:
df.head()

,twitts,sentiment,word_count,char_count
0,is bored and wants to watch a movie any sugge...,0,10,43
1,back in miami. waiting to unboard ship,0,7,32
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54
3,ughhh i am so tired blahhhhhhhhh,0,6,27
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116

### average word length

In [40]:
def avg_length(x):
    words = x.split()
    c = ''.join(words)
    return len(c)/len(words)

In [41]:
avg_length("my name is megala")

3.5

In [42]:
df['avg_length'] = df['twitts'].apply(lambda x: avg_length(x))

In [43]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000
1,back in miami. waiting to unboard ship,0,7,32,4.571429
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538

### stop words

In [46]:
from spacy.lang.en.stop_words import STOP_WORDS as stopwords

In [47]:
print(stopwords)

{'’ve', 'at', 'upon', 'whereas', 'nevertheless', 'between', 'throughout', 'side', 'are', 'fifteen', 'thereupon', 'my', 'hundred', 'six', 'is', 'least', 'made', '’ll', 'thereafter', 'below', 'until', '‘re', 'yours', 'nine', 'forty', 'about', 'thru', 'their', 'five', 'see', 'only', 'ourselves', 'sometime', 'back', 'everything', 'move', 'his', 'after', 'eight', 'wherein', 'the', 'anyhow', 'another', 'he', 'several', 'elsewhere', 'really', 'might', 'herself', 'them', 'n’t', 'via', 'being', 'as', 'us', 'down', 'third', 'your', 'however', 'above', 'onto', 'three', 'myself', 'also', 'becoming', 'nowhere', 'may', 'rather', 'much', 'again', 'whither', 'behind', 'thence', 'do', 'either', 'someone', 'other', 'thereby', 'such', 'should', 'perhaps', 'whom', 'namely', 'say', 'must', 'which', 'from', 'nothing', 'around', 'go', 'almost', 'me', 'since', 'or', 'were', 'everyone', 'those', 'next', "'d", 'seem', 'when', 'give', 'off', 'now', "'m", 'every', 'others', 'amount', 'ours', 'by', 'using', 'although', 'yet', 'yourselves', 'sometimes', 'of', 'anyone', 'everywhere', 'mine', 'then', 'enough', 'regarding', 'ever', 'never', 'somewhere', 'been', 'very', 'for', 'empty', 'get', 'you', 'otherwise', 're', '‘s', 'many', 'over', 'due', 'anything', 'ca', 'what', 'beforehand', 'make', 'than', 'used', 'along', 'seeming', 'except', 'we', 'name', 'these', 'somehow', 'her', 'themselves', 'towards', 'call', 'did', 'few', 'whereafter', 'further', 'too', 'while', "'re", 'against', 'why', 'became', 'has', '‘ll', 'doing', 'an', 'i', 'indeed', 'without', 'first', 'once', 'show', 'whereby', 'besides', 'hereby', 'unless', 'mostly', 'noone', 'same', 'part', 'whereupon', 'our', 'please', 'eleven', 'have', 'whoever', 'take', 'to', 'already', 'because', 'himself', 'yourself', 'still', 'wherever', 'whenever', 'latterly', 'four', 'into', 'where', 'full', 'ten', 'put', 'whole', 'seems', 'him', 'anywhere', 'beside', 'whence', 'therefore', 'less', 'will', 'if', 'hers', 'neither', 'they', 'thus', 'n‘t', 'toward', 'out', 'but', 'fifty', 'some', 'nobody', 'across', 'during', 'latter', 'hereupon', 'up', 'former', 'various', 'keep', 'though', '’re', 'so', 'its', 'seemed', '‘d', 'cannot', 'am', 'any', 'hereafter', 'this', "'ve", 'afterwards', 'moreover', 'within', 'who', 'each', 'how', 'all', 'among', 'would', 'no', 'bottom', 'most', 'becomes', '’m', 'anyway', '’s', 'whatever', 'just', 'two', 'well', 'together', 'can', 'formerly', 'and', "'s", 'with', 'sixty', '’d', 'often', 'be', 'serious', 'through', 'else', '‘ve', 'last', 'quite', 'she', 'does', 'something', 'meanwhile', 'itself', 'before', 'on', 'always', 'amongst', "'ll", 'herein', 'own', '‘m', 'a', 'twenty', 'twelve', 'could', 'front', 'was', 'under', 'had', 'that', 'in', 'beyond', 'top', 'whether', 'both', 'one', 'done', 'it', 'here', 'none', 'therein', 'even', 'whose', 'not', 'become', "n't", 'alone', 'hence', 'more', 'per', 'nor', 'there'}

In [59]:
def count_stopwords(x):
    count= 0
    sp = x.split()
    for i in sp:
        if i in stopwords:
            count+=1
    return count

In [61]:
df['No. of stopwords'] = df['twitts'].apply(lambda x: count_stopwords(x))

In [62]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13

### hashtags and mentions

In [66]:
hashtag = []
def hastags(x):
    sp = x.split()
    for i in sp:
        if i.startswith('#'):
            hashtag.append(i)
    return len(hashtag)

In [67]:
hastags("megala is frustrated because of #infosys")

1

In [69]:
mention = []
def mentions(x):
    sp = x.split()
    for i in sp:
        if i.startswith('@'):
            mention.append(i)
    return len(mention)

In [68]:
df['No. of hashtags'] = df['twitts'].apply(lambda x: hastags(x))

In [70]:
df['No. of Mentions'] = df['twitts'].apply(lambda x: mentions(x))

In [71]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords,No. of hashtags,No. of Mentions
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,1,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,1,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,1,1
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,1,1
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,1,3

### numerics

In [76]:
df['No. of Digits'] = df['twitts'].apply(lambda x: len([i for i in x.split() if i.isdigit()]))

In [77]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords,No. of hashtags,No. of Mentions,No. of Digits
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,1,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,1,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,1,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,1,1,0
4,@mandagoforth me bad! It's funny though. Zacha...,0,26,116,4.461538,13,1,3,0

### conversion to lower case

In [78]:
df['twitts'] = df['twitts'].apply(lambda x: str(x).lower())

In [79]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords,No. of hashtags,No. of Mentions,No. of Digits
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,1,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,1,0,0
2,"@misskpey awwww dnt dis brng bak memoriessss, ...",0,12,54,4.500000,0,1,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,1,1,0
4,@mandagoforth me bad! it's funny though. zacha...,0,26,116,4.461538,13,1,3,0

### normalizing - contraction to expansions

In [130]:
contractions = {"'aight":"alright",
"ain't":"are not",
"amn't":"am not",
"aren't":"are not",
"bak":"back",
"brng":"bring",
"can't":"cannot",
"'cause":"because",
"could've":"could have",
"couldn't":"could not",
"couldn't've":"could not have",
"daren't":"dare not",
"daresn't":"dare not",
"dasn't":"dare not",
"dem":"them",
"didn't":"did not",
"doesn't":"does not",
"dnt":"do not",
"don't":"do not",
"d'ye":"do you",
"e'er":"ever",
"everybody's":"everybody is",
"everyone's":"everyone is",
"finna":"fixing to",
"g'day":"good day",
"gimme":"give me",
"giv'n":"given",
"gonna":"going to",
"gon't":"go not",
"gotta":"got to",
"hadn't":"had not",
"had've":"had have",
"hasn't":"has not",
"haven't":"have not",
"he'd":"he had",
"he'll":"he shall",
"he's":"he has",
"he've":"he have",
"how'd":"how did",
"howdy":"how do you do",
"how'll":"how will",
"how're":"how are",
"how's":"how has",
"i'd":"I had",
"i'd've":"I would have",
"i'll":"I shall",
"i'm":"I am",
"i'm'a":"I am about to",
"i'm'o":"I am going to",
"innit":"is it not",
"i've":"I have",
"i'd":"I had",
"i'd've":"I would have",
"i'll":"I shall",
"i'm":"I am",
"i'm'a":"I am about to",
"i'm'o":"I am going to",
"innit":"is it not",
"i've":"I have",
"isn't":"is not",
"it'd":"it would",
"it'll":"it shall",
"it's":"it is",
"let's":"let us",
"ma'am":"madam",
"mayn't":"may not",
"may've":"may have",
"methinks":"me thinks",
"mightn't":"might not",
"might've":"might have",
"mustn't":"must not",
"mustn't've":"must not have",
"must've":"must have",
"needn't":"need not",
"ne'er":"never",
"o'clock":"of the clock",
"o'er":"over",
"ol'":"old",
"oughtn't":"ought not",
"'s":"is",
"shalln't":"shall not",
"shan't":"shall not",
"she'd":"she had",
"she'll":"she shall",
"she's":"she has",
"should've":"should have",
"shouldn't":"should not",
"shouldn't've":"should not have",
"somebody's":"somebody has",
"someone's":"someone has",
"something's":"something has",
"so're":"so are",
"that'll":"that shall",
"that're":"that are",
"that'd":"that would",
"there'd":"there had",
"there'll":"there shall",
"there're":"there are",
"there's":"there has",
"these're":"these are",
"these've":"these have",
"they'd":"they had",
"they'll":"they shall",
"they're":"they are",
"they've":"they have",
"this's":"this has",
"those're":"those are",
"those've":"those have",
"'tis":"it is",
"to've":"to have",
"'twas":"it was",
"wanna":"want to",
"wasn't":"was not",
"we'd":"we had",
"we'd've":"we would have",
"we'll":"we shall",
"we're":"we are",
"we've":"we have",
"weren't":"were not",
"what'd":"what did",
"what'll":"what shall",
"what're":"what are",
"what's":"what has",
"what've":"what have",
"when's":"when has",
"where'd":"where did",
"where'll":"where shall",
"where're":"where are",
"where's":"where has",
"where've":"where have",
"which'd":"which had",
"which'll":"which shall",
"which're":"which are",
"which's":"which has",
"which've":"which have",
"who'd":"who would",
"who'd've":"who would have",
"who'll":"who shall",
"who're":"who are",
"who's":"who has",
"who've":"who have",
"why'd":"why did",
"why're":"why are",
"why's":"why has",
"won't":"will not",
"would've":"would have",
"wouldn't":"would not",
"wouldn't've":"would not have",
"y'all":"you all",
"y'all'd've":"you all would have",
"y'all're":"you all are",
"you'd":"you had",
"you'll":"you shall",
"you're":"you are",
"you've":"you have",
"aight":"alright",
"aint":"are not",
"amnt":"am not",
"arent":"are not",
"cant":"cannot",
"cause":"because",
"couldve":"could have",
"couldnt":"could not",
"couldntve":"could not have",
"darent":"dare not",
"daresnt":"dare not",
"dasnt":"dare not",
"didnt":"did not",
"doesnt":"does not",
"dont":"do not",
"eer":"ever",
"everybodys":"everybody is",
"everyones":"everyone is",
"finna":"fixing to",
"gday":"good day",
"gimme":"give me",
"givn":"given",
"gonna":"going to",
"gont":"go not",
"gotta":"got to",
"hadnt":"had not",
"hadve":"had have",
"hasnt":"has not",
"havent":"have not",
"hed":"he had",
"hell":"he shall",
"hes":"he has",
"heve":"he have",
"howd":"how did",
"howdy":"how do you do",
"howll":"how will",
"howre":"how are",
"hows":"how has",
"idve":"I would have",
"ill":"I shall",
"im":"I am",
"i'm":"I am",
"ima":"I am about to",
"imo":"I am going to",
"innit":"is it not",
"ive":"I have",
"isnt":"is not",
"itd":"it would",
"itll":"it shall",
"its":"it is",
"lets":"let us",
"maam":"madam",
"maynt":"may not",
"mayve":"may have",
"methinks":"me thinks",
"mightnt":"might not",
"mightve":"might have",
"mustnt":"must not",
"mustntve":"must not have",
"mustve":"must have",
"neednt":"need not",
"neer":"never",
"oclock":"of the clock",
"oer":"over",
"ol":"old",
"oughtnt":"ought not",
"shallnt":"shall not",
"shant":"shall not",
"shed":"she had",
"shell":"she shall",
"shes":"she has",
"shouldve":"should have",
"shouldnt":"should not",
"shouldntve":"should not have",
"somebodys":"somebody has",
"someones":"someone has",
"somethings":"something has",
"thatll":"that shall",
"thatre":"that are",
"thatd":"that would",
"thered":"there had",
"therell":"there shall",
"therere":"there are",
"theres":"there has",
"thesere":"these are",
"theseve":"these have",
"theyd":"they had",
"theyll":"they shall",
"theyre":"they are",
"theyve":"they have",
"thiss":"this has",
"thosere":"those are",
"thoseve":"those have",
"tis":"it is",
"tove":"to have",
"twas":"it was",
"wanna":"want to",
"wasnt":"was not",
"wed":"we had",
"wedve":"we would have",
"were":"we are",
"weve":"we have",
"werent":"were not",
"whatd":"what did",
"whatll":"what shall",
"whatre":"what are",
"whats":"what has",
"whatve":"what have",
"whens":"when has",
"whered":"where did",
"wherell":"where shall",
"wherere":"where are",
"wheres":"where has",
"whereve":"where have",
"whichd":"which had",
"whichll":"which shall",
"whichre":"which are",
"whichs":"which has",
"whichve":"which have",
"whod":"who would",
"whodve":"who would have",
"wholl":"who shall",
"whore":"who are",
"whos":"who has",
"whove":"who have",
"whyd":"why did",
"whyre":"why are",
"whys":"why has",
"wont":"will not",
"wouldve":"would have",
"wouldnt":"would not",
"wouldntve":"would not have",
"yall":"you all",
"yalldve":"you all would have",
"yallre":"you all are",
"youd":"you had",
"youll":"you shall",
"youre":"you are",
"youve":"you have",
"yup":"yes",
"yep":"yes",
"'re":"are",
"that's":"that is",
"thats":"that is"
}

In [131]:
def normalize(x):
    for key in contractions:
        value = contractions[key]
        x = x.replace(key,value)
    return x

In [140]:
df['twitts'] = df['twitts'].apply(lambda x: normalize(x))

In [143]:
df.head(15)

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords,No. of hashtags,No. of Mentions,No. of Digits
0,is bored and wants to watch a movie any sugge...,0,10,43,4.300000,5,1,0,0
1,back in miami. waiting to unboard ship,0,7,32,4.571429,3,1,0,0
2,@misskpey awwww do not dis bring back memories...,0,12,54,4.500000,0,1,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,1,1,0
4,@mandagoforth me bad! it is funny though. zach...,0,26,116,4.461538,13,1,3,0
5,"brr, I am so colddd. at the moment doing my as...",0,17,87,5.117647,9,1,3,0
6,@kevinmarquis haha yes but i really need to sl...,0,22,94,4.272727,6,1,4,0
7,eating some ice-cream while i try to see @pete...,0,14,88,6.285714,4,1,5,0
8,@phatty84 just he shalla bored at work loldd,0,7,32,4.571429,2,1,6,0
9,food poisoning blowssss,0,3,21,7.000000,0,1,6,0
10,"@stacig she sent home the best guy, I am over ...",0,12,50,4.166667,5,1,7,0
11,@shika yeah i did. trying to recover it now. i...,0,17,69,4.058824,5,1,8,0
12,cannot fall asleep,0,3,15,5.000000,0,1,8,0
13,padres come back from being down 6-0 &amp; we ...,0,18,82,4.555556,8,1,8,0
14,awe shiiiiiiiiiiiit! chente got them kI shalla...,0,6,54,9.000000,0,1,8,0

In [147]:
def remove_emails(x):
    return re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)',"", x)

In [148]:
df['twitts'] = df['twitts'].apply(lambda x: remove_emails(x))

### special chars removal

In [149]:
def remove_punct(x):
    x = re.sub(r'[^\w ]+', "", x)
    #\w this means alphanumeric digits upper and lower cases, numbers
    #^ means anything other than alphanumeric replace it with null
    #the space at the end ensures that the waord maintain space that it has
    x = ' '.join(x.split())
    return x

In [150]:
df['twitts'] = df['twitts'].apply(lambda x: remove_punct(x))

In [151]:
df.head()

,twitts,sentiment,word_count,char_count,avg_length,No. of stopwords,No. of hashtags,No. of Mentions,No. of Digits
0,is bored and wants to watch a movie any sugges...,0,10,43,4.300000,5,1,0,0
1,back in miami waiting to unboard ship,0,7,32,4.571429,3,1,0,0
2,misskpey awwww do not dis bring back memoriess...,0,12,54,4.500000,0,1,1,0
3,ughhh i am so tired blahhhhhhhhh,0,6,27,4.500000,3,1,1,0
4,mandagoforth me bad it is funny though zachary...,0,26,116,4.461538,13,1,3,0

### remove html tags

In [154]:
clean = ""
def cleanhtml(raw_html):
    clean = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html)
    return cleantext

In [155]:
def remove_html(x):
    return BeautifulSoup(x, 'lxml').get_text().strip()